

$success: #196A59;
$secondary: #FFFAE4;
$info: #1A271D;

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

* {
    font-family: "Poppins", Georgia, serif;
}

/* --------- Navbar --------- */
.navbar img {
    height: 30px;
    object-fit: cover;
    transition: all 0.3s ease;
}

.navbar img:hover {
    transform: scale(1.05);
}

/* Dropdown on navbar */
.navbar ul .dropdown-menu {
    position: relative;
    background-color: #196A59;
    width: 175px;
}

.navbar li .dropdown-item {
    color: #FFFAE4;
}

.navbar h5 span {
    background-color: white;
}

.navbar p span {
    background-color: white;
}

.navbar a {
    color: sucess;
}


/* --------- Landing page --------- */
.intro {
    margin-top: 50px;
}

.intro h1 {
    margin-bottom: 25px;
}

.intro .card {
    border-radius: 10px;
}

/* For the images and items on the photo gallery on landing page */
.c-item {
    height: 520px;
}

.c-img {
    height: 100%;
    object-fit: cover;     //For aspect ratio purposes
    filter: brightness(0.9);
}

.ca-item {
    height: 520px;  
}

.ca-img {
    height: 100%;
    object-fit: cover;     //For aspect ratio purposes
    filter: brightness(0.6);
}

/* --------- Footer --------- */
.footer .insta-icon {
    transition: all 0.3s ease;
}

.footer .insta-icon:hover {
    transform: scale(1.05);
}

.footer .links a:hover {
    text-decoration: underline;
}

/* --------- About page --------- */
.about {
    margin-top: 50px;
}

.about h1 {
    margin-left: 69%;
}

.about .index ul {
    list-style-type: none;
}

.about .index a {
    text-decoration: none;
}

.team h1 {
    margin-left: 79%;
    margin-bottom: 50px;
}

.team h5 {
    font-weight: bold;
}

/* --------- Log in/Register page --------- */
.welcome {
    margin-top: 50px;
}

.register-intro {
    margin-top: 50px;
}

.log-in .form-group,
.register-form .form-group {
    margin-left: 30%;
    margin-right: 30%;
}

/* --------- Contact page --------- */
.contact {
    margin-top: 100px;
}

.contact .card {
    border: none;
}

.contact input {
    background-color: #FFFAE4;
}

.contact .msg {
    height: 150px;
}

/* --------- Submit page --------- */
.submit {
    margin-top: 50px;
}

.submit-form .description {
    height: 150px;
}

/* --------- Hidden gems' pages --------- */
.hidden-gem .gem-main-photo {
    position: relative;
}

.hidden-gem .gem-main-photo img {
    height: 500px;
    opacity: 40%;
}

.hidden-gem .gem-main-photo h1 {
    position: absolute;
    top: 200px;
    left: 37%;
    font-size: 50px;
    z-index: 1000;
}
