$success: #196A59;
$secondary: #FFFAE4;

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

* {
    font-family: "Poppins", Georgia, serif;
}

.intro {
    margin-top: 50px;
}

.intro h1 {
    margin-bottom: 25px;
}

.intro .card {
    border-radius: 3px;
}

.about {
    margin-top: 50px;
}

.team h1 {
    margin-left: 79%;
    margin-bottom: 50px;
}

.contact {
    margin-top: 50px;
}