$success: #196A59;
$secondary: #FFFAE4;

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

* {
    font-family: "Poppins", Georgia, serif;
}

/* --------- Navbar --------- */
.navbar img {
    height: 30px;
    object-fit: cover;
    transition: all 0.3s ease;
}

.navbar img:hover {
    transform: scale(1.05);
}

/* --------- Landing page --------- */
.intro {
    margin-top: 50px;
}

.intro h1 {
    margin-bottom: 25px;
}

.intro .card {
    border-radius: 10px;
}

/* Carrousel */
.c-item {
    height: 520px;
}

.c-img {
    height: 100%;
    object-fit: cover;     // For aspect ratio purposes
    filter: brightness(0.9);
}

/* --------- About page --------- */
.about {
    margin-top: 50px;
}

.about h1 {
    margin-left: 69%;
}

.about .index ul {
    list-style-type: none;
}

.about .index a {
    text-decoration: none;
}

.team h1 {
    margin-left: 79%;
    margin-bottom: 50px;
}

.team h5 {
    font-weight: bold;
}

/* --------- Log in/Register page --------- */
.welcome {
    margin-top: 50px;
}

.register-intro {
    margin-top: 50px;
}

.form-group {
    margin-left: 30%;
    margin-right: 30%;
}

/* --------- Contact page --------- */
.contact {
    margin-top: 100px;
}

.contact .card {
    border: none;
}

.contact input {
    background-color: #FFFAE4;
}

.contact .msg {
    height: 150px;
}

/* --------- Submit page --------- */
.submit {
    margin-top: 50px;
}

.submit-form .description {
    height: 150px;
}
